.Container {
    padding: 0;
    margin: 0;
}

.header-wrapper {
    height: 70px;
}

.Header {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    background-color: #000000;
    z-index: 999;
}

.Logout-btn {
    line-height: 70px;
}

.Header-greeting {
    line-height: 70px;
    font-size: 24px;  
    font-weight: 700;  
    color: #ffffff;
}

.Btn-create-topic {
    margin-top: 40px;
}

.Topic-cards {
    padding: 40px 140px;
}

.Create-topic-link {
    cursor: pointer;
}

.Create-topic-link:hover {
    color: #00ff00;
}

.page-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.topic-content {
    width: 75%;
    padding: 40px;
    border: 1px solid #ccc;
}

/* MAIN PAGE START */
.polymorph {
    fill: #29ABE2;
}

.cta, .cta2 {
	position: absolute;
	margin: 10em auto 0 auto;
	left: 0;
	right: 0;
	width: 30%;
	background: none;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 15px;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
	outline: 0;
}

.cta2 {
	width: auto;
	margin: 30px auto;
	background: #29ABE2;
}

.blip {
	position: absolute;
	color: #29ABE2;
	right: 25%;
	top: 0;
	opacity: 0;
	width: 30%;
	transform: translateY(-800px);
}
/* MAIN PAGE END */