/* body {
    overflow: hidden;
} */

.Container {
    padding: 0;
    margin: 0;
}

.mainpage-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
    padding: 0 100px;
    background-color: #18191b;
    color: #fff;
}

#create-account-btn {
    padding: 5px 10px;
    border: 1px solid #21c0c0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    transition: all .2s ease-in;
}

.signup:hover #create-account-btn {
    background-color: #21c0c0;
    color: #000000;
}

.header-wrapper {
    height: 70px;
}

.Header {
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    line-height: 70px;
    padding: 0 60px;
    background-color: #000000;
    z-index: 999;
}

.Logout-btn {
    line-height: 70px;
}

.Header-greeting {
    line-height: 70px;
    font-size: 24px;  
    font-weight: 700;  
    color: #ffffff;
}

.Btn-create-topic {
    margin-top: 40px;
}

.Topic-cards {
    padding: 40px 140px;
}

.fa-edit {
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.fa-edit:hover {
    color: #23f8d5;
}

.create-topic-link {
    cursor: pointer;
}

.create-topic-link:hover .create-topic-link-text {
    color: #00ff77;
}

.delete-course-btn {
    cursor: pointer;
}

.delete-course-btn:hover .delete-course-text {
    color: #ff3300;
}

.page-title {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.topic-content {
    width: 75%;
    padding: 40px;
    border: 1px solid #ccc;
}

/* MAIN PAGE START */
.polygon {
    fill: #24292e;
}

.signin-btn {
	position: absolute;
	margin: 10em auto 0 auto;
	left: 0;
	right: 0;
	width: 20%;
	background: none;
    border: 1px solid #21c0c0;
	border-radius: 5px;
	padding: 15px;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
    outline: 0;
}

.signin-close {
    position: absolute;
    top: 0px;
    color: #18191b;
    right: 100px;
    cursor: pointer;
	/* width: auto; */
	/* margin: 30px auto; */
	/* background: #24292e; */
}

.blip {
	position: absolute;
	color: #24292e;
	right: 25%;
	top: 50px;
	opacity: 0;
	width: 30%;
	transform: translateY(-800px);
}

.bm-item.menu-item {
    padding: 4px 0 4px 10px;
}

.myLink {
    color: #fff;
}

.myLink:hover {
    color: #fff;
    text-decoration: none;
}
/* MAIN PAGE END */